@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {    
    --accent: rgb(8, 73, 126);
    --black: #212121;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

    box-sizing: border-box;
    font-size: 16px;	
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    background-color: hsl(195, 22%, 96%);
    background-image: radial-gradient(hsl(204, 38%, 95%), hsl(210, 29%, 88%));
	min-height: 100vh;
}

.container {
    width: 88%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
        width: 95%;
        max-width: 1240px;
    }
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}