---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Wit's blog">
	<section class="main">
		<div class="container">
			<h1>Recent Post:</h1>
			 
		</div>
	</section>
</BaseLayout>
