---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Wit's blog">
	<section class="main">
		<div class="container">
			<h1>Hi from Home</h1>
			<p>
				คณิตศาสตร์เป็นศาสตร์ที่ครอบคลุมการค้นคว้าเกี่ยวกับ ปริมาณ โครงสร้าง การเปลี่ยนแปลง และปริภูมิ มีการพิสูจน์ผ่านการให้เหตุผลที่รัดกุม นำไปสู่ความรู้ที่เรียกว่าทฤษฎีบทหรือทฤษฎีทางคณิตศาสตร์
				 เพื่อใช้งานในศาสตร์เชิงประจักษ์ อาทิ วิทยาศาสตร์และฟิสิกส์ หรือใช้ในคณิตศาสตร์เอง คณิตศาสตร์แบ่งย่อยออกเป็นหลายสาขา ซึ่งรวมไปถึงทฤษฎีจำนวนซึ่งศึกษาจำนวน, พีชคณิตซึ่งศึกษาสูตร 
				 สมการและโครงสร้างที่เกี่ยวข้อง, เรขาคณิตซึ่งศึกษารูปร่าง รูปทรงและปริภูมิที่บรรจุรูปร่างรูปทรงต่าง ๆ,
				  คณิตวิเคราะห์ซึ่งศึกษาการเปลี่ยนแปลงแบบต่อเนื่อง และทฤษฎีเซตที่ปัจจุบันใช้เป็นรากฐานของคณิตศาสตร์ทั้งปวง
			</p>

			<p>
				คณิตศาสตร์มุ่งอธิบายและจัดการวัตถุเชิงนามธรรมที่เรียกว่าวัตถุทางคณิตศาสตร์ ซึ่งอาจจะมีที่มาจากการเปลี่ยมมุมมองสิ่งต่าง ๆ ในธรรมชาติให้เป็นนามธรรม 
				หรือมีที่มาจากวัตถุนามธรรมที่ไม่ได้มีที่มาจากธรรมชาติแต่เกิดจากการกำหนดให้มีสมบัติบางอย่างให้มีขึ้นมา สมบัติเหล่านั้นเรียกว่า 
				 คณิตศาสตร์ใช้เพียงเหตุผลเท่านั้นเพื่อพิสูจน์สมบัติของวัตถุต่าง ๆ โดยบทพิสูจน์ประกอบไปด้วยข้อความที่เกิดจากการอ้างเหตุผลจากความรู้ก่อนหน้า 
				สิ่งที่นับเป็นความรู้ก่อนหน้าได้แก่ ทฤษฎีบท สัจพจน์ หรือหากเป็นคณิตศาสตร์ที่เกิดจากการสร้างแนวคิดนามธรรมจากตัวอย่างที่มีในธรรมชาติ
				 สามารถถือว่าสมบัติพื้นฐานของธรรมชาติที่ทราบว่าจริงเป็นความรู้ก่อนหน้าได้
				คณิตศาสตร์มีความสำคัญอย่างขาดไม่ได้ในศาสตร์ต่าง ๆ อย่าง วิทยาศาสตร์ธรรมชาติ วิศวกรรมศาสตร์ แพทยศาสตร์ การเงิน วิทยาการคอมพิวเตอร์ และสังคมวิทยา
				 ถึงแม้ว่าวิทยาศาสตร์จะใช้จำลองปรากฏการณ์ต่าง ๆ ในธรรมชาติ ความจริงพื้นฐานของคณิตศาสตร์เป็นอิสระจากการทดลองทางวิทยาศาสตร์ใด ๆ สาขาบางสาขาของคณิตศาสตร์ เช่น สถิติศาสตร์และทฤษฎีเกมถูกพัฒนาไปพร้อมกับการประยุกต์ใช้ในศาสตร์อื่น ๆ 
				จึงได้ชื่อว่า คณิตศาสตร์ประยุกต์ ในขณะที่สาขาอื่น ๆ ไม่ได้ถูกสร้างขึ้นเพื่อประยุกต์ใช้ในด้านอื่น จะเรียกว่า คณิตศาสตร์บริสุทธิ์ แต่ในภายหลังอาจค้นพบการประยุกต์ใช้ได้
			</p>

			<p>
				คณิตศาสตร์มุ่งอธิบายและจัดการวัตถุเชิงนามธรรมที่เรียกว่าวัตถุทางคณิตศาสตร์ ซึ่งอาจจะมีที่มาจากการเปลี่ยมมุมมองสิ่งต่าง ๆ ในธรรมชาติให้เป็นนามธรรม 
				หรือมีที่มาจากวัตถุนามธรรมที่ไม่ได้มีที่มาจากธรรมชาติแต่เกิดจากการกำหนดให้มีสมบัติบางอย่างให้มีขึ้นมา สมบัติเหล่านั้นเรียกว่า 
				 คณิตศาสตร์ใช้เพียงเหตุผลเท่านั้นเพื่อพิสูจน์สมบัติของวัตถุต่าง ๆ โดยบทพิสูจน์ประกอบไปด้วยข้อความที่เกิดจากการอ้างเหตุผลจากความรู้ก่อนหน้า 
				สิ่งที่นับเป็นความรู้ก่อนหน้าได้แก่ ทฤษฎีบท สัจพจน์ หรือหากเป็นคณิตศาสตร์ที่เกิดจากการสร้างแนวคิดนามธรรมจากตัวอย่างที่มีในธรรมชาติ
				 สามารถถือว่าสมบัติพื้นฐานของธรรมชาติที่ทราบว่าจริงเป็นความรู้ก่อนหน้าได้
				คณิตศาสตร์มีความสำคัญอย่างขาดไม่ได้ในศาสตร์ต่าง ๆ อย่าง วิทยาศาสตร์ธรรมชาติ วิศวกรรมศาสตร์ แพทยศาสตร์ การเงิน วิทยาการคอมพิวเตอร์ และสังคมวิทยา
				 ถึงแม้ว่าวิทยาศาสตร์จะใช้จำลองปรากฏการณ์ต่าง ๆ ในธรรมชาติ ความจริงพื้นฐานของคณิตศาสตร์เป็นอิสระจากการทดลองทางวิทยาศาสตร์ใด ๆ สาขาบางสาขาของคณิตศาสตร์ เช่น สถิติศาสตร์และทฤษฎีเกมถูกพัฒนาไปพร้อมกับการประยุกต์ใช้ในศาสตร์อื่น ๆ 
				จึงได้ชื่อว่า คณิตศาสตร์ประยุกต์ ในขณะที่สาขาอื่น ๆ ไม่ได้ถูกสร้างขึ้นเพื่อประยุกต์ใช้ในด้านอื่น จะเรียกว่า คณิตศาสตร์บริสุทธิ์ แต่ในภายหลังอาจค้นพบการประยุกต์ใช้ได้
			</p>
			<p>
				คณิตศาสตร์มุ่งอธิบายและจัดการวัตถุเชิงนามธรรมที่เรียกว่าวัตถุทางคณิตศาสตร์ ซึ่งอาจจะมีที่มาจากการเปลี่ยมมุมมองสิ่งต่าง ๆ ในธรรมชาติให้เป็นนามธรรม 
				หรือมีที่มาจากวัตถุนามธรรมที่ไม่ได้มีที่มาจากธรรมชาติแต่เกิดจากการกำหนดให้มีสมบัติบางอย่างให้มีขึ้นมา สมบัติเหล่านั้นเรียกว่า 
				 คณิตศาสตร์ใช้เพียงเหตุผลเท่านั้นเพื่อพิสูจน์สมบัติของวัตถุต่าง ๆ โดยบทพิสูจน์ประกอบไปด้วยข้อความที่เกิดจากการอ้างเหตุผลจากความรู้ก่อนหน้า 
				สิ่งที่นับเป็นความรู้ก่อนหน้าได้แก่ ทฤษฎีบท สัจพจน์ หรือหากเป็นคณิตศาสตร์ที่เกิดจากการสร้างแนวคิดนามธรรมจากตัวอย่างที่มีในธรรมชาติ
				 สามารถถือว่าสมบัติพื้นฐานของธรรมชาติที่ทราบว่าจริงเป็นความรู้ก่อนหน้าได้
				คณิตศาสตร์มีความสำคัญอย่างขาดไม่ได้ในศาสตร์ต่าง ๆ อย่าง วิทยาศาสตร์ธรรมชาติ วิศวกรรมศาสตร์ แพทยศาสตร์ การเงิน วิทยาการคอมพิวเตอร์ และสังคมวิทยา
				 ถึงแม้ว่าวิทยาศาสตร์จะใช้จำลองปรากฏการณ์ต่าง ๆ ในธรรมชาติ ความจริงพื้นฐานของคณิตศาสตร์เป็นอิสระจากการทดลองทางวิทยาศาสตร์ใด ๆ สาขาบางสาขาของคณิตศาสตร์ เช่น สถิติศาสตร์และทฤษฎีเกมถูกพัฒนาไปพร้อมกับการประยุกต์ใช้ในศาสตร์อื่น ๆ 
				จึงได้ชื่อว่า คณิตศาสตร์ประยุกต์ ในขณะที่สาขาอื่น ๆ ไม่ได้ถูกสร้างขึ้นเพื่อประยุกต์ใช้ในด้านอื่น จะเรียกว่า คณิตศาสตร์บริสุทธิ์ แต่ในภายหลังอาจค้นพบการประยุกต์ใช้ได้
			</p>
			
			
		</div>
	</section>
</BaseLayout>
